.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input {
    padding: var(--space-xs) var(--space-sm);
    border: 2px solid var(--color-border-strong);
    border-radius: var(--radius-lg);
    background-color: var(--color-primary-light);
}

.submit {
    cursor: pointer;
    padding: var(--space-sm);
    border: 2px solid var(--color-border-strong);
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
    color: var(--color-primary-light);
}

.submit:hover {
    background-color: var(--color-secondary-hover);
}